@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    @apply text-lg
}

.projects img {
    width: 100%;
}

/* color */
.bg-primary {
    background: #162129;
}

.bg-secondery {
    background: #36454F;
}

.bg-accent {
    background: #c2c2c2;
}

.text-accent {
    color: #c2c2c2;
}


nav li a {
    @apply px-4 py-5 text-lg;
}

nav li a:hover {
    color: #c2c2c2;
}

.mobile-nav {
    @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
}


/* hero */
h1 {
    font-family: 'Pacifico', cursive;
    line-height: 1.5 !important;
}

.project-img {
    height: auto;
    max-height: 250px;
    width: auto;
    max-width: 350px;
  }